:root {
  --base-color: #5bf870
}

@font-face {
  font-family: 'aurebesh';
  src: url(AurebeshEnglishRegular-rjeO.ttf);
}

body {
    background-image: url('./mos_eisley.jpeg');
    background-position: center top;
    background-size: 100vw 100vh;
    font-family: 'aurebesh';
    color: var(--base-color);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    background: rgba(0, 0, 0, 0.3);
}

header > h1 {
    font-size: 2rem;
}

header > nav > button{
    margin: 0 1rem;
    font-family: 'aurebesh';
}

footer {
    width: 100vw;
    padding: 9.5px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    background: black;
    opacity: 0.8;
  }
  
  footer a {
    text-decoration: none;
    color: white;
  }
  
  footer p {
    color: white;
  }