:root {
  --green-color: #5bf870;
  --blue-color: #a5a5ff;
}

@font-face {
  font-family: "aurebesh";
  src: url(AurebeshEnglishRegular-rjeO.ttf);
}

body {
  background-image: url("./mos_eisley.jpeg");
  background-position: center center;
  background-size: cover 100vh;
  background-attachment: fixed;
  font-family: "aurebesh";
  color: var(--blue-color);
  animation: textShadow 1.6s infinite;
}

.scanline {
  width: 100%;
  height: 100px;
  z-index: 8;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.2) 10%,
    rgba(0, 0, 0, 0.1) 100%
  );
  opacity: 0.1;
  position: fixed;
  bottom: 100%;
  animation: scanline 10s linear infinite;
}

/* Header Styles */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
  z-index: 2;
}

header > h1 {
  font-size: 2.7rem;
  margin: 3.5rem;
  width: 50vw;;
}

header > nav {
  display: grid;
  gap: 0;
  grid-template-columns: 8rem 8rem 8rem;
  grid-template-rows: 4rem;
  margin: 3.5rem;
}

header > nav > :first-child {
  border-color: black;
  border-style: solid;
  border-width: 0.5rem 0 0.5rem 0.5rem;
}

header > nav > :last-child {
  border-left: 0;
}

header > nav > button {
  margin: 0;
  font-family: "aurebesh";
  border: 0.5rem solid black;
  box-shadow: inset 0 0 15px 0 #000;
  cursor: pointer;
  outline: none;
}

header > nav > button.active {
  background-color: var(--green-color);
  position: relative;
}

/* Body Content */
#content {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

/* Home Content */
#home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10rem;
  text-align: center;
  width: 50vw;
  background-image: url("../src/mos_eisley_cantina.jpeg");
  background-position: top left;
  background-size: cover;
  height: 50vh;
  outline: 4px solid black;
}

#home-content > * {
  padding: 1.5rem 4rem;
}

#home-content h2 {
  font-size: 1.3rem;
}

#home-content p {
  font-size: 0.8rem;
}

/* Menu Content */
#menu-content {
  position: unset;
  display: grid;
  width: 85%;
  padding-top: 450px;
  grid-template-columns: repeat(auto-fit, 45%);
  grid-template-rows: repeat(3, 300px);
  gap: 2rem;
  overflow: auto;
}

.menu-item {
  background: rgba(0, 0, 0, 45%);
  border: solid 1px pink;
}

.menu-image {
  height: 180px;
}

.menu-name {

}

.menu-text {

}

/* Footer Styles */
footer {
  width: 100vw;
  padding: 9.5px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  background: black;
  opacity: 0.8;
  z-index: 2;
  animation: none;
  font-family: sans-serif;
}

footer a {
  text-decoration: none;
  color: white;
  animation: none;
}

footer p {
  color: white;
  animation: none;
}

/* Text Flicker */
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5),
      -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5),
      -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5),
      -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5),
      -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5),
      -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5),
      -1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5),
      -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.5),
      -3.896914047650351px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.5),
      -3.870905614848819px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.5),
      -2.231056963361899px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5),
      -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5),
      -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.5),
      -2.202193051050636px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5),
      -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5),
      -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5),
      -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5),
      -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5),
      -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5),
      -3.443339761481782px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5),
      -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5),
      -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
}

/* Scanline animation */
@keyframes scanline {
  0% {
    bottom: 100%;
  }
  80% {
    bottom: 100%;
  }
  100% {
    bottom: 0%;
  }
}

/* CRT Effect */
body:before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(18, 16, 16, 0) 20%,
    rgba(0, 0, 0, 0.25) 20%
  );
  background-size: 100% 3px;
  z-index: 1;
  pointer-events: none;
}
